.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  /* height: 150px; */
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.itemList {
  text-align: left;
  width: 80%;
  margin: 0 auto;
}

.item {
  padding: 3px;
}

.item a {
  color: var(--maincolor);
}

.item a:hover {
  color: var(--pop);
}
